* {
    padding: 0;
    margin: 0;
}

#app {
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: $info-color;
    background-color: #f0f2f5;
}